/* NOTES: */

/* Jag tänker att standard margin, padding, etc, kan vara 0.5 vw och 1 vh */

.button-1 {
  width: 10vw;
  height: 10vh;
  border-radius: 10px;
  background-color: gray;
  /* color: white; */
  border: solid white 0.1vw;
}

.button-2 {
  width: 10vw; 
  height: 5vh;

  border-radius: 10px;
  border: solid white 0.1vw;
  
  background-color: gray;
}

.image-1 {
  width: 10vw;
  height: 20vh;
  object-fit: cover;

  border-radius: 33px;

  border: solid;
  
  margin-block: 1vh;
  margin-inline: 0.5vw;
}

.text-1{
    background-color: lightgreen;
    border-radius: 10px;
    width: 10vw;
    /* height: 20vh; */

    margin-block: 1vh;
    margin-inline: 0.5vw;

    padding-block: 1vh;
    padding-inline: 0.5vw;
}

.logo{
    width: 10vw;
    border-radius: 33px;
}