@charset "UTF-8";
/* NOTES: */
/* Jag tänker att standard margin, padding, etc, kan vara 0.5 vw och 1 vh */
.button-1 {
  width: 10vw;
  height: 10vh;
  background-color: gray;
  /* color: white; */
  border-radius: 10px;
  border: solid white 0.1vw;
}

.button-2 {
  width: 10vw;
  height: 5vh;
  border-radius: 10px;
  border: solid white 0.1vw;
  background-color: gray;
}

.image-1 {
  width: 11vw;
  height: 22vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 33px;
  border: solid grey 0.2vw;
  /* background-color: grey; */
  margin-block: 1vh;
  margin-inline: 0.5vw;
  /* padding-block: 1vh; */
  /* padding-inline: 0.5vw; */
}

.text-1 {
  background-color: lightgrey;
  width: 10vw;
  border-radius: 10px;
  border: solid grey 0.1vw;
  /* height: 20vh; */
  padding-block: 1vh;
  padding-inline: 0.5vw;
  margin-block: 1vh;
  margin-inline: 0.5vw;
  text-align: center;
  align-self: center;
}

.text-2 {
  background-color: lightgrey;
  display: flex;
  justify-self: center;
  justify-content: space-evenly;
  width: 15vw;
  border-radius: 10px;
  border: solid grey 0.1vw;
  /* height: 20vh; */
  padding-block: 1vh;
  padding-inline: 0.5vw;
  margin-block: 1vh;
  margin-inline: 0.5vw;
}

.sign {
  background-color: lightgrey;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  border: solid grey 0.1vw;
  /* height: 20vh; */
  padding-block: 1vh;
  padding-inline: 0.5vw;
  margin-block: 1vh;
  margin-inline: 0.5vw;
}

.logo {
  width: 10vw;
  border-radius: 33px;
  border: solid grey 0.1vw;
  margin-block: 1vh;
  margin-inline: 0.5vw;
}

.input-1 {
  width: 10vw;
  border-radius: 10px;
  border: solid grey 0.1vw;
  padding-block: 1vh;
  padding-inline: 0.5vw;
  margin-block: 1vh;
  margin-inline: 0.5vw;
}

.box-1 {
  background-color: darkgrey;
  /* width: 33vw; */
  justify-content: space-evenly;
  border-radius: 10px;
  border: solid grey 0.1vw;
  padding-block: 1vh;
  padding-inline: 0.5vw;
  margin-block: 1vh;
  margin-inline: 0.5vw;
  display: flex;
  flex-wrap: wrap;
  width: -moz-fit-content;
  width: fit-content;
}

.box-2 {
  background-color: darkgrey;
  display: flex;
  justify-self: center;
  justify-content: space-evenly;
  width: 15vw;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  border: solid grey 0.1vw;
  padding-block: 1vh;
  padding-inline: 0.5vw;
  margin-block: 1vh;
  margin-inline: 0.5vw;
  margin: 0;
}

.box-3 {
  background-color: darkgrey;
  justify-self: center;
  justify-content: space-evenly;
  width: 15vw;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  border: solid grey 0.1vw;
  padding-block: 1vh;
  padding-inline: 0.5vw;
  margin-block: 1vh;
  margin-inline: 0.5vw;
  margin-top: 4vh;
}

.Shop-1 {
  padding-block: 1vh;
  padding-inline: 0.5vw;
  width: 10vw;
  background-color: rgb(50, 50, 50);
  margin-block: 1vh;
  border-radius: 10px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(50, 50, 50);
  margin-block: 1vh;
  margin-inline: 0.5vw;
  border-radius: 10px;
  border: solid grey 0.1vw;
  padding-block: 1vh;
  padding-inline: 0.5vw;
}

.kundvagn {
  background-color: grey;
  border-radius: 10px;
  border: solid white 0.1vw;
  width: 10vh;
}

.meny {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 10vw;
  background-color: rgb(50, 50, 50);
  padding-block: 1vh;
  padding-inline: 0.5vw;
  border-radius: 10px;
  border: solid grey 0.1vw;
  width: 90vw;
}

.top {
  display: flex;
  align-items: center;
  padding-inline: 1.9vw;
  padding-block: 1vh;
}

.shops {
  background-color: rgb(66, 66, 66);
  overflow-y: auto;
  height: 40vh;
  border-radius: 10px;
  padding-inline: 0.5vw;
}

.main-space {
  width: 88vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -5vh;
}

.Rea {
  position: absolute;
  text-align: center;
  margin-top: 16.666vh;
}

a {
  text-decoration: none;
}

.links {
  text-decoration: none;
  color: rgb(50, 50, 50);
}

.matratter {
  height: 50vh;
  display: flex;
  gap: 3vw;
  border-radius: 10px;
  border: solid white 0.1vw;
  background-color: grey;
}

.login-meny {
  width: 30vw;
  height: 78vh;
  background-color: white;
  border-radius: 10px;
  border: solid grey 0.1vw;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.UserName {
  align-self: center;
}/*# sourceMappingURL=style-2.css.map */