<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style-2.css" />
  </head>

  <body style="background-color: rgb(66, 66, 66); margin: 0px; width: fit-content; display: flex;"> -->
    

        <div class="mat-meny">

          <!-- Vart maten ska -->
          <div class="box-2">

            <label for="adress" class="UserName"
              >Vart ska maten levereras?</label
            >
            <input type="text" class="adresser" id="adress-input" name="adress" required style="margin-bottom: 1vh;" onclick="position()" />

            <a>
              <button class="button-2 adresser" style="margin-left: 1vw" onclick="position()">Karta</button>
            </a>
          </div>
          
          <div class="box-2">
            <label for="adress" class="UserName"
              >Har du några extra instruktioner?</label
            >
            <textarea type="text" name="extra-instruktion" style="margin-bottom: 1vh; height: 10vh;"> </textarea>
          </div>

          <div class="box-2" style="align-items: center;">
          <h3> Betalnings medel </h3>


            <button class="button-2 swish" onclick="swish()" style="margin-bottom: 1vh;"> Swish </button>
            <button class="button-2 swish" onclick="swish()" style="margin-bottom: 1vh;"> Swish 2 </button>
            <button class="button-2 swish" onclick="swish()" style="margin-bottom: 1vh;"> Swish 3 </button>
            
          </div>


          <!-- <button class="button-2" onclick="confirm-b()" id="bekräfta-b" style="opacity: 50%;">Bekräfta</button> -->
        </div>
      </div>
    </div>
    
    <script>
      
      
      var krav_swish = false
      var krav_adress = false
      
      
      var swish_knapp = document.getElementsByClassName('swish')
      
      var adresser = document.getElementsByClassName('adresser')
      
      var bekräfta_b = document.getElementById('bekräfta-b')
      
      var adress_input = document.getElementById('adress-input')
      
      var bekräfta_a = document.getElementById('Bekräfta-a')
      
      bekräfta_a.style.opacity = "50%"
      
      krav_bekräfa = false

      function krav(){
        
        if (krav_adress && krav_swish){
          krav_bekräfta = true
        }

        if (krav_bekräfta){
          bekräfta_a.style.opacity = "100%"
          
          bekräfta_a.classList.remove('upmärksamma')
          void bekräfta_a.offsetWidth
          bekräfta_a.classList.add('upmärksamma')
        }

      }

      function position(){
        alert("låtsas som att du nu skrivit in adress [kanske ta bort]")
  
        krav_adress = true
  
        for (i = 0; i < swish_knapp.length; i++ ){
          swish_knapp[i].style.opacity = "100%"
        }
  
        for (i = 0; i < adresser.length; i++ ){
          adresser[i].style.opacity = "66.666%"
        }

        adress_input.value = "gata-gatan 123"
  
        krav()
      }

      function swish(){
        alert("låtsas som att du nu skrivit in swish [kanske ta bort]")

        krav_swish = true

        for (i = 0; i < swish_knapp.length; i++ ){
          swish_knapp[i].style.opacity = "66.666%"
        }
        
        // if (krav_adress){
          
          
        //   alert("Dina varor är påväg!")
          
        //   fetch('/confirm-b', {method: 'POST', }, )

          krav()

        // } else{
        //   alert("vart ska vi skicka maten???")
        // }
      }

      


    </script>
  <!-- </body>
</html> -->
