<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style-2.css">
</head>

<body style="background-color: rgb(66, 66, 66); margin: 0px; overflow: hidden;">

    <!-- Om man vill ta bort scroll menyn kan man använda: -->
    <!-- overflow: hidden; -->

    <!-- Toppen av sidan, menyn, plus loggan -->
    <div class="top">
        <img class="logo" src="images/Goondora.png" alt="logo goes here" style="border: solid grey 0.1vw; margin-left: 0.1vw;">

        <!-- logo placeholder -->
        <!-- <div class="logo" style="width: 10vw; height: 10vw; background-color: lightblue; border-radius: 100%; margin-left: 2.5vw; margin-block: 1vh;"></div> -->

        <!-- logo -->

        <!-- meny -->
        <div class="meny">

            <a href="/start-sida">
                <button class="button-1">Hem</button>
            </a>

            <a href="/om-oss">
                <button class="button-1">Om oss</button>
            </a>
            
             <button class="button-1">Konto</button>
             
             <!-- kundvagn icon placeholder -->
             <!-- <div class="Cart" style="background-color: aquamarine; width: 10vh; height: 10vh; margin-right: 2.5vw; border-radius: 10px; border: 0px;"></div> -->
             
             <img src="../../images/Kundvagn.png" alt="Bild på en kundvagn" class="kundvagn">
        </div>

    </div>

    <div class="down" style="display: flex; height: 76vh;">

        <!-- Sido menyn -->
        <div class="left">

            <!-- Meny -->
            <a href="../../html/dator/Beskrivningar.html">
                <button class="button-1" style="margin-left: 1vw;"> BUTIKER: </button>
            </a>

            <!-- Sök funktion -->
            <input id="searchInput" placeholder="Sök butik/rätt" style="width: 10vw; border-radius: 10px; margin-left: 0.666vw;">


            <!-- Scroll meny -->

            <div class="shops">

                <!-- Restauranger -->
                <div class="Shop-1">
                    <a href="/Abracadabra/abra-cadabra"><button class="button-2" style="margin-bottom: 1vh"> Abra cadabra</button></a>
                    <a href="/Abracadabra/Maträtt-brisket-platter"><button class="button-2" style="margin-top: 1vh;"> Brisket platter</button></a>
                    <a href="/Abracadabra/Maträtt-ribs"><button class="button-2" style="margin-top: 1vh;"> Ribs</button></a>
                    <a href="/Abracadabra/Maträtt-kyckling"><button class="button-2" style="margin-top: 1vh;"> Kyckling</button></a>
                </div>
                <div class="Shop-1">
                    <a href="/Agatas/agatas"><button class="button-2" style="margin-bottom: 1vh"> Agatas </button></a>                   
                    <a href="/Agatas/Maträtt-avocado-toast"><button class="button-2" style="margin-top: 1vh;"> Avacado-toast</button></a>
                    <a href="/Agatas/Maträtt-choklad-pudding"><button class="button-2" style="margin-top: 1vh;"> Chocklad pudding</button></a>
                    <a href="/Agatas/Maträtt-räk-soppa"><button class="button-2" style="margin-top: 1vh;"> Räk-soppa</button></a>
                </div>
                <div class="Shop-1">
                    <a href="/Pretantieuse/pretentieuse"><button class="button-2" style="margin-bottom: 1vh"> Prétentieuse</button></a>
                    <a href="/Pretantieuse/Maträtt-moln"><button class="button-2" style="margin-top: 1vh;"> Di-väte-mono-oxid blandning</button></a>
                    <a href="/Pretantieuse/Maträtt-centaur"><button class="button-2" style="margin-top: 1vh;"> Centaur</button></a>
                    <a href="/Pretantieuse/Maträtt-slag"><button class="button-2" style="margin-top: 1vh;"> Knuckle sandwich</button></a>
                </div>

            </div>

            <a href="https://www.google.se/maps/search/Restauranger" target="_blank">
                <button class="button-1" style="margin-left: 1vw;"> Karta</button>
            </a>
        </div>

        <div class="main-space" >

            <div class="box-1" style="width: fit-content;">
                <h1 style="margin-block: 0px;">Om oss</h1>
            </div>

            <div class="box-1" style="width: 50vw;">
                <h2>Välkommen till Goondora</h2>
                <p style="text-align: center;">Din ultimata partner för snabb och smidig matleverans! 
                    Vi brinner för att koppla samman hungriga kunder med deras favoritrestauranger, och vi gör det med stil,
                    hastighet och enkelhet.
                    Med ett brett utbud av restauranger och ett användarvänligt gränssnitt ser vi till att du kan beställa precis det du är sugen på – när du vill,
                    var du vill.
                    Vårt nätverk av engagerade kurirer ser till att din mat levereras rykande färsk och på rekordtid.
                    Vi på Goondora tror på innovation, kundnöjdhet och hållbarhet.
                    Genom smart logistik och effektiva leveranslösningar
                    minskar vi matsvinn och transportutsläpp, samtidigt som vi erbjuder en oslagbar matupplevelse direkt till din dörr.
                    
                    Oavsett om du är ute efter en snabb lunch, en lyxig middag eller ett mellanmål sent på kvällen – vi har dig täckt. <br>
                    <br>
                    Goondora – Come and enjoy <br>
                    Kontakt kl 10-11: 073 123 123 12</p>
            </div>
        </div>

    </div>

    <script src="../../javascript/index.js"></script>
</body>

</html>