<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style-2.css" />
    <style>
      h1,
      h2,
      h3,
      p {
        margin-block: 0px;
      }

      @media (max-width: 100vh) {
        /* body {
          transform: rotate(90deg);
        }

        button, input, img{
            transform: rotate(-90deg);
        }

        /* img{
            width: 10vw;
        } */

        /* .main-space > * {
            transform: rotate(-90deg);
        } */ 

        .main-space{
          /* background-color: darkseagreen; */
          /* justify-content: center; */
          display: flex;
          align-items: center;
          height: 90vh;
          width: 66.666vw;

          /* width: fit-content; */
        }

        .main-space > * {
            /* background-color: orange; */
            transform: scale(.8);

            flex-wrap: wrap-reverse;

            margin-top: 1vh;
            margin-bottom: -10vh;

            /* margin-inline: 0px; */
            
        }

        .star{
          /* background-color: #87cefa; */
          width: 100% !important;
          /* height: 100% !important; */
        }
        
        
        /* div{background-color: lightpink;} */
        
        .starbox{
          width: fit-content !important;
          /* width: 166% !important; */
          transform: scale(.666);
          /* margin: 0px !important; */
          /* margin-inline: 0%; */
          margin-inline: -20% !important;

          
          /* background-color: lightblue; */
          /* margin-inline: 0px !important; */
          margin-bottom: -10vh;
          margin-top: -8vh;
          /* background-color: blueviolet; */
          justify-content: center;

          /* width: 133% !important; */
          /* background-color: orange; */


          /* h1{ */
            /* background-color: greenyellow; */
            /* width: 100%; */
            /* transform: scale(0.666); */
            /* margin-top: 40%; */
            /* margin-top: -5vh;
            margin-bottom: -5vh; */
          /* } */
        }
        
        
        .greeting{
          margin-top: 3vh;
          margin-bottom: -13vh;
          
          margin-left: 10vw;

          width: 100%;
        }

        input{
          /* background-color: chocolate; */
          width: 20vw !important;
        }

        .erbjudande{
          /* background-color: lawngreen; */

          display: flex;

          justify-content: center;
          
          /* background-color: green; */

          width: fit-content !important;
          
          /* margin-inline: 100%; */
        }
        
        .text-1{
          width: 100%;
        }
        
        .left{
          /* background-color: gold; */
          align-items: center;
          padding-right: 3vw;

          height: 80vh;
        }

        .shops{
          /* background-color: cornflowerblue; */
          width: 100%;
          display: flex;
          flex-direction: column;

          align-items: center;
          /* align-items: center; */
          margin-left: 2.5vw;
        }

        .Shop-1{
          /* background-color: greenyellow; */
          width: 90%;

          padding-right: 1vw;

          display: flex;

          align-items: center;
        }

        .button-1, .button-2{
          /* background-color: deeppink; */
          /* text-align: center; */
          /* width: 16.666vw; */
          min-width: 100%;
          width: 20vw;
          

          
          /* height: 200%; */
        }

        .gällande-kommande{
          width: 90%;
        }

        /* .logo{ */
          /* margin: -5vw; */
        /* } */

        .meny{
          /* background-color: darkturquoise; */
          /* width: 150vw; */
          padding-inline: 1vw;
          margin-inline: 1vw;

          /* margin: 0px; */
          
          /* margin-right: 2vw; */
          /* margin-right: 10vw; */
          
        }

        /* .main-space{
            background-color: rebeccapurple;
            width: 80%;
        }

        .main-space div div{
            background-color: aquamarine;
        }

        img{
            /* transform: scale(.5); */
        /* } */

        /* .box-1 *{ */
            /* max-width: 100%; */

            /* align-items: center;
            justify-content: center;
        } */ 
        
        /* .box-1 > * {
            transform: rotate(-90deg);
        } */

      }
    </style>
  </head>

  <body
    style="background-color: rgb(66, 66, 66); margin: 0px; overflow: hidden"
  >
    <!-- Om man vill ta bort scroll menyn kan man använda: -->
    <!-- overflow: hidden; -->

    <!-- Toppen av sidan, menyn, plus loggan -->
    <div class="top">
      <img
        class="logo"
        src="images/Goondora.png"
        alt="logo goes here"
        style="border: solid grey 0.1vw; margin-left: 0.1vw"
      />

      <!-- logo placeholder -->
      <!-- <div class="logo" style="width: 10vw; height: 10vw; background-color: lightblue; border-radius: 100%; margin-left: 2.5vw; margin-block: 1vh;"></div> -->

      <!-- logo -->

      <!-- meny -->
      <div class="meny">
        <a href="/start-sida">
          <button class="button-1">Hem</button>
        </a>

        <a href="/om-oss">
          <button class="button-1">Om oss</button>
        </a>

        <% if (username) { %>
        <a href="/anvandare">
          <button class="button-1"><%= username %></button>
        </a>
        <% } else { %>
        <a href="/login">
          <button class="button-1">Konto</button>
        </a>
        <% } %>

        <!-- kundvagn icon placeholder -->
        <!-- <div class="Cart" style="background-color: aquamarine; width: 10vh; height: 10vh; margin-right: 2.5vw; border-radius: 10px; border: 0px;"></div> -->

        <img
          src="../../images/Kundvagn.png"
          alt="Bild på en kundvagn"
          class="kundvagn"
          onclick="location.href='/leverans'"
          style="cursor: pointer"
        />
      </div>
    </div>

    <div class="down" style="display: flex; height: 76vh">
      <!-- Sido menyn -->
      <div class="left">
        <!-- Meny -->
        <a href="/beskrivningar">
          <button class="button-1" style="margin-left: 1vw">BUTIKER:</button>
        </a>

        <!-- Sök funktion -->
        <input
          id="searchInput"
          placeholder="Sök butik/rätt"
          style="width: 10vw; border-radius: 10px; margin-left: 0.666vw"
        />

        <!-- Scroll meny -->

        <div class="shops">
          <!-- Restauranger -->
          <div class="Shop-1" style="height: 5vh; overflow-y: hidden;" onmouseover="this.style.height = 'fit-content'" onmouseout="this.style.height = '5vh'">
            <a href="/Abracadabra/abra-cadabra"
              ><button class="button-2 res_1" style="margin-bottom: 1vh">
                Abra cadabra
              </button></a
            >
            <a href="/Abracadabra/brisket-platter"
              ><button class="button-2" style="margin-top: 1vh">
                Brisket platter
              </button></a
            >
            <a href="/Abracadabra/ribs"
              ><button class="button-2" style="margin-top: 1vh">Ribs</button></a
            >
            <a href="/Abracadabra/kyckling"
              ><button class="button-2" style="margin-top: 1vh">
                Kyckling
              </button></a
            >
          </div>
          <div class="Shop-1" style="height: 5vh; overflow-y: hidden" onmouseover="this.style.height = 'fit-content'" onmouseout="this.style.height = '5vh'">
            <a href="/Agatas/agatas"
              ><button class="button-2 res_1" style="margin-bottom: 1vh">
                Agatas
              </button></a
            >
            <a href="/Agatas/avocado-toast"
              ><button class="button-2" style="margin-top: 1vh">
                Avocado-toast
              </button></a
            >
            <a href="/Agatas/choklad-pudding"
              ><button class="button-2" style="margin-top: 1vh">
                Choklad pudding
              </button></a
            >
            <a href="/Agatas/soppa"
              ><button class="button-2" style="margin-top: 1vh">
                Räk-soppa
              </button></a
            >
          </div>
          <div class="Shop-1" style="height: 5vh; overflow-y: hidden" onmouseover="this.style.height = 'fit-content'" onmouseout="this.style.height = '5vh'">
            <a href="/Pretantieuse/pretentieuse"
              ><button class="button-2 res_1" style="margin-bottom: 1vh">
                Préten tieuse
              </button></a
            >
            <a href="/Pretantieuse/moln"
              ><button class="button-2" style="margin-top: 1vh">
                Di-väte-mono-oxid blandning
              </button></a
            >
            <a href="/Pretantieuse/centaur"
              ><button class="button-2" style="margin-top: 1vh">
                Centaur
              </button></a
            >
            <a href="/Pretantieuse/slag"
              ><button class="button-2" style="margin-top: 1vh">
                Knuckle sandwich
              </button></a
            >
          </div>
        </div>

        <a
          href="https://www.google.se/maps/search/Restauranger"
          target="_blank"
        >
          <button class="button-1" style="margin-left: 1vw">Karta</button>
        </a>
      </div>

      <div class="main-space">
        <div
          class="box-1 greeting"
          style="margin-right: 10vw; flex-direction: column; text-align: center"
        >
          <h1 style="margin: 0px">Goondora</h1>
          <h2 style="margin: 0px">Come and enjoy</h2>
        </div>

        <div style="display: flex; justify-content: space-around; width: 100%" class="erbjudande">
          <div
            class="box-1"
            style="flex-direction: column; align-items: center"
          >
            <h1>Erbjudanden</h1>

            <div
              style="
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow-y: auto;
                height: 50vh;
              "
              class="gällande-kommande"
            >
              <h2>Gäller nu</h2>

              <div class="text-1">
                <p>
                  Vegan Vecka! <br />
                  10% rea på alla <br />
                  köttfria rätter <br />
                  4 dagar kvar <br />
                  18-25 Maj
                </p>
              </div>

              <h2>Kommande</h2>

              <div class="text-1">
                <p>
                  Karnivor karneval<br />
                  10% rea på alla <br />
                  kötträtter <br />
                  om 4 dagar <br />
                  20-25 Maj
                </p>
              </div>
              <div class="text-1">
                <p>
                  Burger town<br />
                  10% rea på alla <br />
                  hamburgare <br />
                  om 9 dagar <br />
                  30-40 Maj
                </p>
              </div>
            </div>
          </div>
          <div class="box-1 starbox" style="width: auto">
            <img src="../../images/Star.png" alt="star" style="height: 55vh" class="star"/>
            <h1 class="Rea" style="font-family:'Times New Roman', Times, serif;">
              Vegan-Vecka <br />
              10% rea i <br />
              4 dagar till
            </h1>
          </div>
        </div>
      </div>
    </div>

    <% if (typeof successMessage !== 'undefined' && successMessage) { %>
    <script>
      alert("<%= successMessage %>");
    </script>
    <% } %>

    <script src="../../javascript/index.js"></script>
  </body>
</html>
