<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style-2.css">
    <style>

    h1,h2,h3,p{
        margin-block: 0px;
    }

    </style>
</head>

<body style="background-color: rgb(66, 66, 66); margin: 0px; overflow: hidden;">

    <!-- Om man vill ta bort scroll menyn kan man använda: -->
    <!-- overflow: hidden; -->

    <!-- Toppen av sidan, menyn, plus loggan -->
    <div class="top">
        <img class="logo" src="images/Goondora.png" alt="logo goes here" style="border: solid grey 0.1vw; margin-left: 0.1vw;">

        <!-- logo placeholder -->
        <!-- <div class="logo" style="width: 10vw; height: 10vw; background-color: lightblue; border-radius: 100%; margin-left: 2.5vw; margin-block: 1vh;"></div> -->

        <!-- logo -->

        <!-- meny -->
        <div class="meny">

            <a href="/start-sida">
                <button class="button-1">Hem</button>
            </a>

            <a href="/om-oss">
                <button class="button-1">Om oss</button>
            </a>
            
      
            <% if (username) { %>
                <a href="/anvandare">
                    <button class="button-1"><%= username %></button>
                </a>
            <% } else { %>
                <a href="/login">
                    <button class="button-1">Konto</button>
                </a>
            <% } %>
             
             <!-- kundvagn icon placeholder -->
             <!-- <div class="Cart" style="background-color: aquamarine; width: 10vh; height: 10vh; margin-right: 2.5vw; border-radius: 10px; border: 0px;"></div> -->
             
             <img src="../../images/Kundvagn.png" alt="Bild på en kundvagn" class="kundvagn" onclick="location.href='/leverans'" style="cursor: pointer;">
        </div>

    </div>

    <div class="down" style="display: flex; height: 76vh;">

        <!-- Sido menyn -->
        <div class="left">

            <!-- Meny -->
            <a href="/beskrivningar">
                <button class="button-1" style="margin-left: 1vw;"> BUTIKER: </button>
            </a>

            <!-- Sök funktion -->
            <input id="searchInput" placeholder="Sök butik/rätt" style="width: 10vw; border-radius: 10px; margin-left: 0.666vw;">


            <!-- Scroll meny -->

            <div class="shops">

                <!-- Restauranger -->
                <div class="Shop-1">
                    <a href="/Abracadabra/abra-cadabra"><button class="button-2 res_1" style="margin-bottom: 1vh"> Abra cadabra</button></a>
                    <a href="/Abracadabra/brisket-platter"><button class="button-2" style="margin-top: 1vh;"> Brisket platter</button></a>
                    <a href="/Abracadabra/ribs"><button class="button-2" style="margin-top: 1vh;"> Ribs</button></a>
                    <a href="/Abracadabra/kyckling"><button class="button-2" style="margin-top: 1vh;"> Kyckling</button></a>
                </div>
                <div class="Shop-1">
                    <a href="/Agatas/agatas"><button class="button-2 res_1" style="margin-bottom: 1vh"> Agatas </button></a>                   
                    <a href="/Agatas/avocado-toast"><button class="button-2" style="margin-top: 1vh;"> Avocado-toast</button></a>
                    <a href="/Agatas/choklad-pudding"><button class="button-2" style="margin-top: 1vh;"> Choklad pudding</button></a>
                    <a href="/Agatas/soppa"><button class="button-2" style="margin-top: 1vh;"> Räk-soppa</button></a>
                </div>
                <div class="Shop-1">
                    <a href="/Pretantieuse/pretentieuse"><button class="button-2 res_1" style="margin-bottom: 1vh"> Prétentieuse</button></a>
                    <a href="/Pretantieuse/moln"><button class="button-2" style="margin-top: 1vh;"> Di-väte-mono-oxid blandning</button></a>
                    <a href="/Pretantieuse/centaur"><button class="button-2" style="margin-top: 1vh;"> Centaur</button></a>
                    <a href="/Pretantieuse/slag"><button class="button-2" style="margin-top: 1vh;"> Knuckle sandwich</button></a>
                </div>

            </div>

            <a href="https://www.google.se/maps/search/Restauranger" target="_blank">
                <button class="button-1" style="margin-left: 1vw;"> Karta</button>
            </a>
        </div>

        <div class="main-space">

        <div class="box-1" style="margin-right: 10vw; flex-direction: column; text-align: center;" >

            <h1 style="margin: 0px;">Goondora</h1>
            <h2 style="margin: 0px;">Come and enjoy</h2>
        </div>

        <div style="display: flex; justify-content: space-around; width: 100%;">

            <div class="box-1" style="flex-direction: column; align-items: center;">
                <h1>Erbjudanden</h1>

                <div style="display: flex; flex-direction: column; align-items: center; overflow-y: auto; height: 50vh;">

                    <h2>Gäller nu</h2>
                    
                    <div class="text-1">
                    <p> 
                        Vegan Vecka! <br>
                        10% rea på alla <br>
                        köttfria rätter <br>
                        10-20 Aprill
                    </p>
                </div>
                
                <h2> Kommande </h2>
                
                <div class="text-1">
                    <p> 
                        Karnivor karneval<br>
                        10% rea på alla <br>
                        kötträtter <br>
                        20-30 Aprill
                    </p>
                </div>
                <div class="text-1">
                    <p> 
                        Burger town<br>
                        10% rea på alla <br>
                        hamburgare <br>
                        30-40 Aprill
                    </p>
                </div>
                
            </div>
            
        </div>
            <div class="box-1" style="width: auto;">
            
            <img src="../../images/Star.png" alt="star" style="height: 55vh;">
            <h1 class="Rea">
                Vegan-Vecka <br>
                10% rea <br>
                10-20 apr
            </h1>
            </div>
             
        </div>
            
        </div>

    </div>
    
    <% if (typeof successMessage !== 'undefined' && successMessage) { %>
        <script>
            alert('<%= successMessage %>');
        </script>
    <% } %>

    <script src="../../javascript/index.js"></script>
</body>

</html>